//
// footer.scss
//

.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  color: $muted !important;
  background-color: $footer-bg;

  h5 {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }

  .footer-support {
    font-weight: 600;
  }


  .footer_mdi {
    font-size: 16px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 20px 2px;
  }

  .facebook {
    background-color: rgba($blue, 0.5);
    color: $white;
  }

  .twitter {
    background-color: $info;
    color: $white;
  }

  .google {
    background-color: $danger;
    color: $white;
  }

  .apple {
    background-color: $dark;
    color: $white;
  }

  .dribbble {
    background-color: $white;
    color: $black;
  }

  .footer-menu {
    li {
      a {
        font-size: 14px;
        display: inline-block;
        transition: all 0.5s;
        line-height: 32px;
        color: $muted !important;
      }
    }
  }

}